.coin {
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 4px 4px 8px 0px rgba(255, 255, 255, 0.568);
  display: flex;
  align-items: center;
    justify-content: space-between;

  .coin_logo {
    width: 50px;
    padding-right: 10px;
  }

  p, .coin_price {
    font-size: 22px;
    color: white;
    padding: 0 10px;
  }
}
