<div class="nav_bar">
  <ul class="nav_buttons">
    <li routerLink="/"><img src="../../../assets/2048px-Angular_full_color_logo.svg.png" alt=""></li>
    <li routerLink="/cryptocurrencies">Cryptocurrencies</li>
    <li routerLink="/exchanges">Exchanges</li>
    <li routerLink="/watchlist">Watchlist</li>
    <li routerLink="/about">About</li>
  </ul>
  <p-dropdown 
  [placeholder]="'Search cryptos'"
  [options]="allCoins!" 
  [virtualScroll]="true" 
  [virtualScrollItemSize]="30" 

  optionLabel="name"></p-dropdown>
</div>
